$brand-color-blue : #2A7DDB;
$brand-color-black : #0A2156;
$brand-color-green : #24B568;
$brand-color-text : #3C4C70;
$brand-color-background-1: #F8F9FF;
$brand-color-background-2: #EDF0F5;
$brand-color-line: #EDF0F5;
$shadow-xxl : 0px, 16px rgba(11, 31, 77, 0.1);
$border-radius: 8px;